
.singleServiceDiv{
  max-width: 260px;
   height: 500px;
   border:1px solid rgb(190, 190, 190);
   margin: 10px;
   overflow: hidden;
  
}

.singleServiceDiv img {
  width: 200px;
  height: 200px; 
  padding-bottom: 10px;
  border-radius: 20px;
}
.singleServiceDiv img:hover {
  transform: scale(1.2) skew(-15deg);
  transition:transform 2s ease-in-out;

}
.singleServiceDiv img:not(:hover){
  transform: scale(.9) skew(15deg);
  transition:transform 2s ease-in-out;

}

.relative{
  position:relative; 
  height: 400px;
}

.button {
  background-color: #f00808;
  padding: 5px 50px;
  color: white;  
  border-radius: 10px;
  margin-bottom: 190px;
}
.button:hover {
  background-color: #000000;
 
}
