.single-div {

  margin:10px; 
  background-color: #ecf1f5; 
  max-width: 350px;
  max-height: 500px;
  
}
.single-div img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  
}
.single-div img:hover {
  transform: scale(1) skew(-15deg);
  transition:transform 2s ease-in-out;
}
.single-div img:not(:hover) {
  transform: scale(.8) skew(15deg);
  transition:transform 2s ease-in-out;
  
}
.lineHeight {
  line-height: 50%;
}
