.navbar {
  padding: 10px;
  clear: both;
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmA-DHTp6PNwZAqFOiS-1sr_sLO07HfLDcEw&usqp=CAU); */
}
.NavLink {
  margin-right: 10px;
}
.navbar-brand {
  width: 50px;
  height: auto;
}
