.first-div {
  max-height: 400px;
  padding: 30px;
}
.academic-wave {
  background-image: url(https://wallpaperaccess.com/full/1282799.jpg);
  background-repeat: no-repeat;
  color: black;
  background-size: 100% 100%;
  padding-top: 50px;
}
.service-container {
  padding: 10px 20px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}


.carousel-image {
  max-height: 500px;
}
